{% from "form_helper.html" import displayField %}

{% extends "prelogin-layout.html" %}

{% block title %}Registration{% endblock %}

{% block content %}
<h1>Get Started</h1>
<form action="{{ url_for('index') }}", method="POST">

<div>
  {{ displayField(fieldname=form.username, placeholdervalue="Username", autocomplete="off", autofocus=true) }}
  {{ displayField(fieldname=form.password, placeholdervalue="Password") }}
  {{ displayField(fieldname=form.confirm_pswd, placeholdervalue="Retype Password") }}
</div>


  <div>
      {{ form.submit_button }}
  </div>

  {{ form.csrf_token }}

</form>
{% endblock %}
